In [8]:
l=[2235,27,545,215,-1234]

In [9]:
l

[2235, 27, 545, 215, -1234]

In [10]:
l #list

[2235, 27, 545, 215, -1234]

In [3]:
import numpy as np

In [5]:
a=np.array(l)   #thats how we creare array

In [6]:
a

array([ 2235,    27,   545,   215, -1234])

In [7]:
b=np.array([12,455,76.8,True,'abc'])

In [8]:
print(b) #here output is every member is string,so every member needs to be of same data type

['12' '455' '76.8' 'True' 'abc']

In [18]:
u=np.array([12,455,76.8,True,])

In [19]:
u #so here default data type taken is float in array

array([ 12. , 455. ,  76.8,   1. ])

In [20]:
f=np.array([12,455,True,])
f

array([ 12, 455,   1])

In [12]:
l.pop()

-1234

In [14]:
l #so now we dont have -1234

[2235, 27, 545, 215]

In [16]:
a.mean()

357.6

In [17]:
# by doing l.tab we have some options which are lesser than a.tab options.
#so in array we have more option than list thats why its important

---

In [21]:
l[:]

[2235, 27, 545, 215]

In [22]:
#slice in array

In [23]:
a

array([ 2235,    27,   545,   215, -1234])

In [24]:
a[2:]

array([  545,   215, -1234])

In [25]:
a[2:4]

array([545, 215])

In [27]:
#by slicing in list we are creating a new list,where as in array you are not creating any new array by slicing,
#if you change some member of new array which has been sliced,but still that change also take place in original array.
#lets have a look at example

In [29]:
b=a[2:4]

In [30]:
b

array([545, 215])

In [31]:
b[0]

545

In [32]:
b[:]

array([545, 215])

In [33]:
b[:]=111

In [34]:
b

array([111, 111])

In [35]:
a

array([ 2235,    27,   111,   111, -1234])

In [36]:
#so original array have been replaced by 111

In [37]:
c=a.copy()

In [38]:
c

array([ 2235,    27,   111,   111, -1234])

In [39]:
c[0]=0

In [40]:
c

array([    0,    27,   111,   111, -1234])

In [41]:
a

array([ 2235,    27,   111,   111, -1234])